.customGridSize{
    min-width:  300px;
    /* height: 400px; */
    /* padding: 50px; */
}

.okButton {
    display: inline-block;
    padding: 6px 12px;
    background-color: #21A0A0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
.noButton {
    display: inline-block;
    padding: 6px 12px;
    background-color: #dd3444;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }